body{
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff ;
}




ul {
    list-style-type: none;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}
.header {
    background-color: #e7e9fc;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
     text-align: left;
}

.logo-in-header {
    color: #2E2F42;
}



.navigation-link{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}    

.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
}

.contact {
    font-style: normal;
}
 
.contact-link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:active {
    color: #404BBF;
}


/* -------------------------HERO----------------------- */

.benefits {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    letter-spacing: 0.02em;
}

.hero-section {
    background-color: #2E2F42;
    color: #ffffff ;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button{
    color: inherit;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}


/* -----------------------BENEFITS SECTION------------------------- */
.benefits-section {
    background-color: #F4F4FD;
    color: #434455;
    font-family: "Roboto",sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
.benefits-title {
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* -----------------------TEAM SECTION-------------------------- */
.team-section {
    background-color: #F4F4FD;
}

.team-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}

.team-image {
    text-align: center;
}

.employee-name{
    line-height: 1.2;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
}
.employee-position{
    line-height: 1.5;
    text-transform: capitalize;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


/* -----------------------PORTFOLIO SECTION-------------------------- */
.portfolio-images {
    text-align: center;
    text-transform: capitalize;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.portfolio-title {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        text-align: center;
}




/* -----------------------FOOTER------------------------- */
footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.footer-logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
}

.logo-in-footer {
    color:#F4F4FD;
} 

.footer-text {
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}






